<table class="index">
  <thead>
  	<tr>
  		<th><%= t("product") %></th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% relationship_products.each do |product| %>
      <tr id="<%= dom_id(product, relationship)%>">
        <td><%= product.name %></td>
  	    <td class="actions">
		      <%= link_to_remote  icon('delete') + ' ' + t('remove'), 
		                         {:url => remove_admin_product_sales_relationship_url(@product, product),
		                         :update => "selected-#{relationship}",
		                         :complete => "$('#{dom_id(product, relationship)}').remove();",
                             :with => "'relationship=#{relationship}'"}, :class => 'iconlink' %>
  	    </td>        
      </tr>
    <% end %>
    <% if relationship_products.empty? %>
     <tr><td colspan="3"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
