<table class="index">
  <thead>
  	<tr>
  		<th><%= t("product") %></th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% products.each do |product| %>
      <tr id="<%= dom_id(product, :sel)%>">
        <td><%= product.name %></td>
  	    <td class="actions">
          <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(product, :rem_spinner)}" %>
		      <%= link_to_remote  icon('delete') + ' ' + t('remove'), 
		                         {:url => remove_admin_product_product_url(@product, product),
		                         :loading => "Element.show(#{dom_id(product, :rem_spinner)})",
		                         :update => 'selected-products',
		                         :complete => "$('#{dom_id(product, :sel)}').remove(); Element.hide(#{dom_id(product, :rem_spinner)});"}, :class => 'iconlink' %>
                       
  	    </td>        
      </tr>
    <% end %>
    <% if products.empty? %>
     <tr><td colspan="3"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
